on: [push, pull_request]
name: Integracion continua con node.js

jobs:
  ci-develop:
    runs-on: ubuntu-latest
    # Contenedores de servicio para ejecutar con `ci-develop`
    services:
      redis: # Etiqueta utilizada para acceder al contenedor de servicio
        # Imagen del contenedor Docker Hub
        image: redis
        # Establece revisiones de estado para esperar hasta que Redis haya comenzado
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6379:6379
    steps:
      - name: Clone and checkout
        uses: actions/checkout@v2
      - name: Set Node version
        uses: actions/setup-node@v2
        with:
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: npm ci
      - name: Run eslint
        run: npm run lint
      - name: Run tests
        run: npm test
        env:
          DIDI_SERVER: ${{ secrets.DIDI_SERVER }}
          MONGO_URI: ${{ secrets.MONGO_URI }}
          PREFIJO_REDIS: ${{ secrets.PREFIJO_REDIS }}
          VUS_URL: ${{ secrets.VUS_URL }}
          VUS_API_KEY: ${{ secrets.VUS_API_KEY }}
          VUS_API_KEY_PRIVATE: ${{ secrets.VUS_API_KEY_PRIVATE }}
          ISSUER_URL: ${{ secrets.ISSUER_URL }}
          ISSUER_AUTH_TOKEN: ${{ secrets.ISSUER_AUTH_TOKEN }}
          PORT: 8089
          ENVIRONMENT: dev
          NAME: Identity-Issuer
          VERSION: 1.0.0
          IP_ADDRESS: 127.0.0.1
      - name: Publish to coveralls.io
        uses: coverallsapp/github-action@v1.1.2
        with:
          github-token: ${{ github.token }}
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Build Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: .
          push: false
